name: iOS
on: [push, pull_request]
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
   
    - run: npm install
    - run: xcode-select -p
    - run: pod install
      working-directory: ios
      name: Install pod dependencies
  
    - name: Build iOS (debug)
      run: "xcodebuild -project ios/firstapp.xcodeproj -scheme firstapp clean -sdk iphoneos -configuration Release -UseModernBuildSystem=NO  CODE_SIGNING_ALLOWED=NO derivedDataPath DerivedData -archiveDataPath DerivedData/Archive/ios/ archive"
    #- name: export archive
     # run: "derivedDataPath DerivedData -archiveDataPath DerivedData/Archive/ios/ archive"
    - name: Export Archive
      run: "xcodebuild -exportArchive -archiveDataPath DerivedData/Archive/ios/*.xcarchive exportOptionsPlist provisioning/App-Store.plist exportPath DerivedData/ipa"
     # "xcodebuild -exportArchive ios/*.xcarchive -exportPath iso/"
      
